<div class="coda">
  <div class="coda-container">
    <%= button :x, class: "coda-close", "@click": "$puzzle.finished = false" %>
    <h2 class="coda-title">
      <%= icon :person_standing %>
      <span>Nice work!</span>
    </h2>
    <div class="coda-content">
      <section class="coda-section coda-section--stats" x-show="$settings?.stats" x-cloak>
        <ul class="coda-stats" x-data="stats">
          <li class="coda-stat" x-show="timeTaken !== null" x-cloak>
            <span class="coda-stat-label">Time taken:</span>
            <strong class="coda-stat-value" x-text="timeTaken"></strong>
          </li>
          <li class="coda-stat">
            <span class="coda-stat-label">Word checks:</span>
            <strong class="coda-stat-value" x-text="wordChecks" :class="{zero: wordChecks === 0}"></strong>
          </li>
          <li class="coda-stat">
            <span class="coda-stat-label">Letter reveals:</span>
            <strong class="coda-stat-value" x-text="letterReveals" :class="{zero: letterReveals === 0}"></strong>
          </li>
          <li class="coda-stat">
            <span class="coda-stat-label">Word reveals:</span>
            <strong class="coda-stat-value" x-text="wordReveals" :class="{zero: wordReveals === 0}"></strong>
          </li>
        </ul>
      </section>
      <section class="coda-section coda-section--webring">
        <p>Why not try another?</p>
        <p class="coda-webring">
          <%= next_link %>
          <span>⏺</span>
          <%= previous_link %>
          <span>⏺</span>
          <%= random_link %>
        </p>
      </section>
      <section
        class="coda-section coda-section--reset"
        x-show="!$puzzle.vibing"
        x-transition:enter.duration.500ms
        x-cloak>
        <%= button "Reset and start again", icon: :trash_2, "@click": "$dispatch('action:reset')" %>
      </section>
    </div>
    <div
      class="coda-cat"
      @click.stop="vibing = false"
      x-show="vibing"
      x-transition:enter.duration.500ms
      x-cloak>
      <%= image_tag "vibing_cat.gif" %>
    </div>
  </div>
</div>
