<div class="keyboard" x-data="keyboard">
  <div class="keyboard-container">
    <div class="keyboard-pane keyboard-pane--input" x-show="pane === 'input'">
      <% input_keys.each do |keys| %>
        <div class="keyboard-row">
          <% keys.each do |key| %>
            <%= button key,
              class: "keyboard-key",
              click: "keypress(#{key.to_json})" %>
          <% end %>
        </div>
      <% end %>
      <div class="keyboard-special-keys">
        <%= button :ellipsis,
          alt: "view actions",
          class: "keyboard-key",
          click: "pane = 'actions'" %>
        <%= button :delete,
          alt: "delete",
          class: "keyboard-key",
          click: "$dispatch('keyboard:backspace')" %>
      </div>
    </div>
    <div class="keyboard-pane keyboard-pane--actions" x-show="pane === 'actions'" x-cloak>
      <% actions.each do |items| %>
        <div class="keyboard-row">
          <% items.each do |action| %>
            <%= button action.label,
              class: "keyboard-key",
              icon: action.icon,
              confirm: action.confirm,
              click: "$dispatch(#{action.event.to_json}); pane = 'input'",
              **(action[:attrs] || {}) %>
          <% end %>
        </div>
      <% end %>
      <div class="keyboard-special-keys">
        <%= button :case_upper,
          alt: "view keyboard",
          class: "keyboard-key",
          click: "pane = 'input'" %>
        <%= button :settings,
          alt: "delete",
          class: "keyboard-key",
          click: "$app.screen = 'settings'" %>
      </div>
    </div>
  </div>
</div>