<div
  class="puzzle"
  :class="{finished}"
  x-data="puzzle(<%= {id:, entries:}.to_json %>)"
  @crossword:complete="markComplete"
  @crossword:incomplete="markIncomplete"
  @event:check-word.document="record('cw')"
  @event:reveal-letter.document="record('rl')"
  @event:reveal-word.document="record('rw')"
  @event:check-all.document="record('ca')"
  @event:reveal-all.document="record('ra')"
  @action:reset="reset">
  <header class="puzzle-header<%= " sync-challenge" if params[:challenge] == "true" %>">
    <div class="puzzle-header-container">
      <% if params[:challenge] == "true" %>
        <div class="puzzle-challenge-back">
          <%= link_to new_sync_path(challenge: true), class: "puzzle-challenge-back-link", "@click.prevent": "hijax" do %>
            <%= icon :arrow_big_left %>
            <span>Back to sync key generator</span>
          <% end %>
          <%= link_to "(hide this)", url_for, class: "puzzle-challenge-back-hide", "@click.prevent": "hijax" %>
        </div>
      <% else %>
        <%= button(
          icon: :circle_arrow_left,
          class: "puzzle-header-link puzzle-header-link-older",
          "@click.prevent": "hijax",
          **older_link.html_attrs
        ) if older_link %>
        <div class="puzzle-header-main">
          <div class="puzzle-header-date">
            <%= link_to date, provider_url, target: "_blank" %>
          </div>
          <div class="puzzle-header-complete" @click="$app.modal = 'summary'" x-show="finished" x-cloak>
            <%= icon :dot, class: "puzzle-header-separator" %>
            <%= button :circle_check, class: "puzzle-complete-marker" %>
            <span>Complete</span>
          </div>
          <div class="puzzle-header-timer" x-show="($settings.timer && !$puzzle.finished) || $puzzle.state?.timer?.started" x-cloak>
            <%= icon :dot, class: "puzzle-header-separator" %>
            <%= render TimerComponent.new %>
          </div>
        </div>
        <%= button(
          icon: :circle_arrow_right,
          class: "puzzle-header-link puzzle-header-link-newer",
          "@click.prevent": "hijax",
          **newer_link.html_attrs
        ) if newer_link %>
      <% end %>
    </div>
  </header>
  <div class="puzzle-board">
    <div class="puzzle-board-container">
      <%= crossword %>
    </div>
  </div>
  <div class="puzzle-cluebar">
    <% if false && params[:challenge] == "true" %>
      <div class="puzzle-challenge-back">
        <div class="puzzle-challenge-back-container">
          <%= button "Back to sync key generator", icon: :arrow_big_left, theme: :primary %>
          <%= link_to url_for, class: "puzzle-challenge-back-close" do %>
            <%= icon :x %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= cluebar %>
  </div>
  <div class="puzzle-keyboard">
    <%= keyboard %>
  </div>
  <div x-show="$app.modal == 'summary'" x-cloak>
    <%=
      render SummaryComponent.new do |summary|
        summary.with_next_link(**newer_link.html_attrs) unless !newer_link || newer_link.html_attrs[:disabled] == true
        summary.with_previous_link(**older_link.html_attrs) if older_link
        summary.with_random_link(**random_link.html_attrs) if random_link
      end
    %>
  </div>
  <% if answer %>
    <div
      x-data="answerData(<%= answer.to_json %>)"
      @crossword:change.document="save()"
      @timer:change.document="save()"
      ></div>
  <% end %>
</div>