<div
  class="puzzle"
  x-data="puzzle(<%= {id:, entries:}.to_json %>)"
  @crossword:complete="markComplete"
  @event:check-word.document="record('check-word')"
  @event:reveal-letter.document="record('reveal-letter')"
  @event:reveal-word.document="record('reveal-word')"
  @action:reset.document="reset">
  <div class="puzzle-header" role="banner">
    <%= header %>
  </div>
  <div class="puzzle-board">
    <div class="puzzle-board-container">
      <%= crossword %>
    </div>
    <div x-show="finished" x-cloak>
      <%= coda %>
    </div>
  </div>
  <div class="puzzle-cluebar" x-show="!finished">
    <%= cluebar %>
  </div>
  <div class="puzzle-keyboard" x-show="!finished">
    <%= keyboard %>
  </div>
</div>