<div
  class="puzzle"
  x-data="puzzle(<%= {id:, entries:}.to_json %>)"
  @crossword:complete="markComplete"
  @event:check-word.document="record('cw')"
  @event:reveal-letter.document="record('rl')"
  @event:reveal-word.document="record('rw')"
  @event:check-all.document="record('ca')"
  @action:reset="reset">
  <div class="puzzle-header" role="banner">
    <%= header %>
  </div>
  <div class="puzzle-board">
    <div class="puzzle-board-container">
      <%= crossword %>
    </div>
  </div>
  <div class="puzzle-cluebar">
    <%= cluebar %>
  </div>
  <div class="puzzle-keyboard">
    <%= keyboard %>
  </div>
  <div x-show="finished" x-cloak>
    <%= coda %>
  </div>
</div>