<%
@page_title = "✅ &nbsp; Cloud sync enabled"
%>

<% content_for :title do %>Your sync key<% end %>

<section class="prose">
  <p>
    Your crossword answers are being automatically saved to the cloud. Data will be synced across all devices that have been linked using the key below.
  </p>
</section>

<section class="prose" x-data="<%= {key: Current.account.key, copied: false, timeout: nil}.to_json %>">
  <h3>Your sync key <span style="font-weight: normal; opacity: 0.7; font-size: 0.8em">(click to copy)</span></h3>

  <div
    class="account-key"
    x-clipboard="key"
    @click="clearTimeout(timeout); copied = true; timeout = setTimeout(() => { copied = false }, 200)"
    :class="{copied}">
    <%= Current.account.key %>
  </div>

  <p><small><em style="color: var(--color-light-3)">Keep a note of this key somewhere safe!</em></small></p>
</section>

<section class="prose">
  <h3>To sync with another device:</h3>
  <ol>
      <li>Visit <%= link_to "crosswords.lol/sync", sync_device_url %> on the other device.</li>
      <li>Enter the <strong>sync key above</strong> and click on the 'Enable syncing' button.</li>
      <li><strong class="emoji" style="color: var(--color-bg-positive)">All done!</strong> Now any changes you make on this other device will also be automatically <strong>saved to the cloud</strong> and <strong>synced across all devices</strong>.</li>
    </ol>
</section>

<footer class="prose centered">
  <div class="p">To disable cloud syncing on this device <em><%= button_to tag.strong("click here"), sync_device_path, method: :delete %></em>.</div>
  <p style="opacity: 0.7">&larr; <%= back_to_crosswords_link %></p>
</footer>