<%
@page_title = "✅ &nbsp; Syncing enabled".html_safe
%>

<section class="prose">
  <p>
    Your crossword answers will be <strong>automatically synced across all devices</strong> that have been connected using the key below.
  </p>
</section>

<section class="prose" x-data="<%= {key: Current.account.key, copied: false, timeout: nil}.to_json %>">
  <h3>Your sync key <span style="font-weight: normal; opacity: 0.7; font-size: 0.8em">(click to copy)</span></h3>

  <div
    class="account-key"
    x-clipboard="key"
    @click="clearTimeout(timeout); copied = true; timeout = setTimeout(() => { copied = false }, 200)"
    :class="{copied}">
    <%= Current.account.key %>
  </div>

  <p><small><em style="color: var(--color-light-3)">Keep a note of this key somewhere safe!</em></small></p>
</section>

<section class="prose">
  <h3>To link another device:</h3>
  <ol>
    <li>Visit <%= link_to "crosswords.lol/sync", sync_device_url %> on the other device and enter the key above.</li>
    <li><strong>That's it!</strong> Your crossword data will now be automagically synced between your devices.</li>
  </ol>
</section>

<footer class="prose centered">
  <div class="p">To disable syncing on this device <em><%= button_to tag.strong("click here"), sync_device_path, method: :delete %></em>.</div>
  <p style="opacity: 0.7">&larr; <%= back_to_crosswords_link %></p>
</footer>