
<% content_for(:title) { "##{@crossword.number}" } %>

<% content_for :head do %>
  <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.8.1/tsparticles.confetti.bundle.min.js"></script>
<% end%>


<div
  class="puzzle"
  x-data="puzzle({entries: <%= @crossword.data[:entries].to_json %>})"
  @complete="celebrate"
  @visibilitychange.document="visibilityState = document.visibilityState"
  >
  <div class="puzzle-layout">    
    <header class="puzzle-header">
      <div class="puzzle-header-container">
        <%= link_to crossword_path(@style, @next_number || @number), class: {"puzzle-header-button": true, "disabled": !@next_number} do %>
          <i data-lucide="circle-arrow-left"></i>
        <% end %>

        <div class="puzzle-header-main">
          <span class="puzzle-number">
            #<%= @crossword.number %>
          </span>  

          <%= link_to crossword_path(@style, @latest_number), class: "puzzle-logo" do %>
            <%= image_tag "icon.svg" %>
          <% end %>
          
          <div class="puzzle-timer">
            <%= render TimerComponent.new(id: @crossword.id) %>
          </div>
        </div>

        <%= link_to crossword_path(@style, @previous_number), class: "puzzle-header-button" do %>
          <i data-lucide="circle-arrow-right"></i>
        <% end %>
      </div>
    </header>
    <div class="puzzle-board">
      <div class="puzzle-board-container">
        <%= render CrosswordComponent.new(crossword: @crossword) %>
      </div>
    </div>
    <div class="puzzle-actionbar">
      <%= render ActionbarComponent.new %>
    </div>
    <div class="puzzle-cluebar">
      <%= render CluebarComponent.new(entries: @crossword.data[:entries]) %>
    </div>
    <div class="puzzle-keyboard">
      <%= render KeyboardComponent.new %>
    </div>
    <div class="puzzle-cat" @click="vibing = false" x-show="vibing" x-transition.duration.500ms x-cloak>
      <%= image_tag "vibing_cat.gif" %>
    </div>
  </div>
</div>