<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{content_for(:title)} | " if content_for?(:title) %>crosswords.lol</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= javascript_include_tag "application", defer: true %>
    <%= stylesheet_link_tag :application %>
  </head>
  <body>
    <div
      class="app"
      x-data="app"
      @popstate.window="loadPage(location)">
      <%= render LoadingBarComponent.new %>
      <div class="app-screen" x-show="screen === 'puzzle'">
        <div data-morph-root>
          <%= yield %>
        </div>
      </div>
      <div class="app-screen app-screen--settings"  x-show="screen === 'settings'" x-cloak>
        <%= render SettingsComponent.new %>
      </div>
    </div>
  </body>
</html>
