<%
@page_title = "Create an account"
%>

<% unless params[:solution] == "true" %>
  <section class="prose">
    <p>Sync your progress across multiple devices with a <code>crosswords.lol</code> account! <span class="emoji">🎉</span> No password required and we won't ever ask for or store any personal information.</p>
    <p>After signup you will be given a unique account key that you can use to quickly log in on all of your devices.</p>
    <p><em>Already got an account? <%= link_to tag.strong("Log in here"), new_session_path %></em></p>
  </section>
<% end %>

<section>
  <div class="prose">
    <% unless params[:solution] == "true" %>
      <h3>No robots allowed <span class="emoji">🚫 🤖</span></h3>
    <% end %>
    <p>To convince us that you are a real human and not a pesky robot, go find the solution to the specified crossword clue and then come back here and pop it into the form below.</p>

    <p style="margin-top: 1.1em;">
      <strong>Your clue:</strong>
      <span style="color: var(--color-bg-highlight)"><%= Current.challenge.clue %></span>
    </p>
      
    <p>
      <%= button href: quick_crossword_path(Current.challenge.crossword, entry: Current.challenge.entry.id, challenge: true), theme: :secondary do %>
        See it in the crossword (<%= Current.challenge.crossword_name %>) &nbsp;<strong>&rarr;</strong>
      <% end %>
    </p>
  </div>

  <%= form_with model: @account, url: account_path(solution: params[:solution]), method: :post, class: "form" do |form| %>    
    <%= form_errors(@account.errors) %>

    <div class="form-field">
      <%= form.label :challenge_solution do %>
        <strong>Your solution</strong>:
      <% end %>
      <%= form.text_field :challenge_solution, placeholder: "Enter solution here", data: {"1p_ignore": true, lpignore: true, protonpass_ignore: true} %>
    </div>

    <div class="form-actions">
      <%= button "Create account", type: :submit, theme: :primary %>
    </div>
  <% end %>
</section>


<footer class="prose">
  <p><em>Already got an account? <%= link_to tag.strong("Log in here"), new_session_path %></em></p>
  <p style="opacity: 0.7">&larr;  <%= link_to "Back to the crosswords", root_path %></p>
</footer>

